.brand-text-color {
  background: linear-gradient(
    to right,
    var(--gui-color-primary),
    var(--gui-color-secondary)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

button {
  &:has(svg) {
    cursor: pointer;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    /* padding: 4px; */

    &:hover {
      color: var(--gui-color-primary-lighter);
    }
  }
}
