.brand {
  background: linear-gradient(
    to right,
    oklch(42.4% 0.199 265.638),
    oklch(43.2% 0.232 292.759)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
