.home-container {
  display: grid;
  place-items: center;
  height: 100vh;

  span {
    font-size: 7rem;
    font-weight: 700;
    transition: transform 1s ease-in-out;

    &:hover {
      transform: scale(2);
      transition: transform 0.3s ease-in-out;
    }
  }
}
