@import "tailwindcss";

@theme {
  /* --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --font-poppins: Poppins, sans-serif;
  --font-roboto: Roboto, sans-serif;
  --font-roboto-mono: "Roboto Mono", monospace; */
  --font-inter: Inter, sans-serif;
}

html,
body {
  @apply font-inter font-medium antialiased text-base bg-white dark:bg-gray-800;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
